<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798111196419-rg3ab4n16qod1u0npqlbe281sdc4et2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798111196419-rg3ab4n16qod1u0npqlbe281sdc4et2v</string>
	<key>API_KEY</key>
	<string>AIzaSyAvduta6b5gFtlK5Z3-Qg9WERHW4J3QP0I</string>
	<key>GCM_SENDER_ID</key>
	<string>798111196419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>mydatabase-db80d</string>
	<key>STORAGE_BUCKET</key>
	<string>mydatabase-db80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798111196419:ios:9062d833a9262f233cf536</string>
</dict>
</plist>